@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* MODULES - Individual site components */
/* line 1, C:/ctherrien18.github.io/scss/modules/_typography.scss */
i {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

/* line 1, C:/ctherrien18.github.io/scss/modules/_sections.scss */
body {
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
}

/* line 6, C:/ctherrien18.github.io/scss/modules/_sections.scss */
.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 11, C:/ctherrien18.github.io/scss/modules/_sections.scss */
.margin-section-title {
  margin-bottom: 30px;
  font-size: 26px;
  color: #f5f6f7;
}

/* line 17, C:/ctherrien18.github.io/scss/modules/_sections.scss */
.padding-top-bottom {
  padding: 3em 0;
}

/* line 21, C:/ctherrien18.github.io/scss/modules/_sections.scss */
#intro {
  background: url("../img/palmTrees.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 33, C:/ctherrien18.github.io/scss/modules/_sections.scss */
#about {
  background-color: #999999;
}

/* line 37, C:/ctherrien18.github.io/scss/modules/_sections.scss */
#skills {
  background-color: #88c1dd;
}

/* line 41, C:/ctherrien18.github.io/scss/modules/_sections.scss */
#portfolio {
  background-color: #4db3b3;
}

/* line 45, C:/ctherrien18.github.io/scss/modules/_sections.scss */
#work {
  background-color: cadetblue;
}

/* LAYOUTS - Page layout styles */
/* line 1, C:/ctherrien18.github.io/scss/layouts/_nav.scss */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

/* line 11, C:/ctherrien18.github.io/scss/layouts/_nav.scss */
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/* line 1, C:/ctherrien18.github.io/scss/layouts/_header.scss */
#body-wrapper {
  overflow-x: hidden;
}

/* line 5, C:/ctherrien18.github.io/scss/layouts/_header.scss */
.typed-title {
  overflow: hidden;
  border-right: .1em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 2.5s steps(25, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  /* line 17, C:/ctherrien18.github.io/scss/layouts/_header.scss */
  from {
    width: 0;
  }

  /* line 18, C:/ctherrien18.github.io/scss/layouts/_header.scss */
  to {
    width: 350px;
  }
}

@keyframes blink-caret {
  /* line 22, C:/ctherrien18.github.io/scss/layouts/_header.scss */
  from, to {
    border-color: transparent;
  }

  /* line 23, C:/ctherrien18.github.io/scss/layouts/_header.scss */
  50% {
    border-color: white;
  }
}

/* line 26, C:/ctherrien18.github.io/scss/layouts/_header.scss */
.typewriter {
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: monospace;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

/* line 36, C:/ctherrien18.github.io/scss/layouts/_header.scss */
.logo {
  display: block;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 7px;
  left: 1.8em;
}

/* line 1, C:/ctherrien18.github.io/scss/layouts/_footer.scss */
.footer {
  background-color: #262626;
}

/* line 5, C:/ctherrien18.github.io/scss/layouts/_footer.scss */
.copyright {
  color: white;
}

/* line 1, C:/ctherrien18.github.io/scss/layouts/_about.scss */
.about-title {
  color: #0d233b;
  font-weight: bold;
  font-size: 18px;
}

/* line 8, C:/ctherrien18.github.io/scss/layouts/_about.scss */
h3 {
  color: white;
}

/* line 12, C:/ctherrien18.github.io/scss/layouts/_about.scss */
.icon {
  margin: 0 auto 30px;
  color: #80dfff;
}
/* line 15, C:/ctherrien18.github.io/scss/layouts/_about.scss */
.icon:hover {
  transition: all .3s ease-out;
}

/* line 21, C:/ctherrien18.github.io/scss/layouts/_about.scss */
.services.item {
  text-align: center;
  margin-bottom: 30px;
}

/* line 13, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
body {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}

/* line 21, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.comp-skills {
  width: 80%;
  max-width: 960px;
  height: 720px;
  margin: auto;
  position: relative;
}

/* line 29, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines {
  height: 100%;
  position: relative;
  list-style-type: none;
  padding: 0;
}
/* line 35, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(220, 255, 255, 0.6);
}
/* line 43, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line.skill-level {
  left: 0;
}
/* line 46, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line.basic-level {
  left: 25%;
}
/* line 49, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line.average-level {
  left: 50%;
}
/* line 52, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line.advanced-level {
  left: 75%;
}
/* line 55, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line.expert-level {
  left: calc(100% - 1px);
}
/* line 59, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line .skill-label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
}
/* line 68, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.lines .line .skill-label.skills-title {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 76, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graphs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* line 85, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph {
  margin: 30px 0 0;
}
/* line 88, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph:first-child {
  margin: 0;
}

/* line 93, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  text-align: left;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
/* line 104, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-design .graph-title {
  animation-delay: 3s;
}

/* line 109, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-x {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

/* line 115, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-block .graph-bar:nth-of-type(1) {
  animation-delay: 0.7s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-design .graph-bar:nth-of-type(4) {
  animation-delay: 4.3s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-design .graph-bar:nth-of-type(3) {
  animation-delay: 4.1s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-design .graph-bar:nth-of-type(2) {
  animation-delay: 3.9s;
}
/* line 6, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-design .graph-bar:nth-of-type(1) {
  animation-delay: 3.7s;
}
/* line 135, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='35'] {
  width: 35%;
}
/* line 138, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='40'] {
  width: 40%;
}
/* line 141, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='45'] {
  width: 45%;
}
/* line 144, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='50'] {
  width: 50%;
}
/* line 147, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='55'] {
  width: 55%;
}
/* line 150, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='60'] {
  width: 60%;
}
/* line 153, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='65'] {
  width: 65%;
}
/* line 156, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='70'] {
  width: 70%;
}
/* line 159, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='75'] {
  width: 75%;
}
/* line 162, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='80'] {
  width: 80%;
}
/* line 165, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='85'] {
  width: 85%;
}
/* line 168, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='90'] {
  width: 90%;
}
/* line 171, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-bar[data-skill='95'] {
  width: 95%;
}

/* line 176, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
.graph-label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

@keyframes anim-lightspeed-in {
  /* line 185, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }

  /* line 189, C:/ctherrien18.github.io/scss/layouts/_skills.scss */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@font-face {
  font-family: Above;
  src: url("../fonts/aboveFont.ttf");
}

/* line 52, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.website-thumb {
  margin-bottom: 2em;
}

/* line 56, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.thumb-desc {
  font-family: Above;
  color: white;
  margin-bottom: 0.5em;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  /* line 56, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .thumb-desc {
    font-size: 1.3em;
  }
}

/* line 69, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.cmp-link {
  background: url("../img/cmp.png");
  background-size: cover;
  height: 300px;
  width: 420px;
  background-position: center;
  display: inline-block;
  float: none;
  margin: 1em;
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
}
/* line 14, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.cmp-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  /* line 69, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .cmp-link {
    height: 240px;
    width: 360px;
  }
}
@media only screen and (max-width: 975px) {
  /* line 69, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .cmp-link {
    height: 220px;
    width: 340px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 69, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .cmp-link {
    height: 320px;
    width: 440px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 69, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .cmp-link {
    height: 175px;
    width: 295px;
  }
}

/* line 74, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.hiram-link {
  background: url("../img/hiram.png");
  background-size: cover;
  height: 300px;
  width: 420px;
  background-position: center;
  display: inline-block;
  float: none;
  margin: 1em;
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
}
/* line 14, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.hiram-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  /* line 74, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .hiram-link {
    height: 240px;
    width: 360px;
  }
}
@media only screen and (max-width: 975px) {
  /* line 74, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .hiram-link {
    height: 220px;
    width: 340px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 74, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .hiram-link {
    height: 320px;
    width: 440px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 74, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .hiram-link {
    height: 175px;
    width: 295px;
  }
}

/* line 79, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.schmidt-link {
  background: url("../img/schmidt.png");
  background-size: cover;
  height: 300px;
  width: 420px;
  background-position: center;
  display: inline-block;
  float: none;
  margin: 1em;
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
}
/* line 14, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.schmidt-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  /* line 79, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .schmidt-link {
    height: 240px;
    width: 360px;
  }
}
@media only screen and (max-width: 975px) {
  /* line 79, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .schmidt-link {
    height: 220px;
    width: 340px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 79, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .schmidt-link {
    height: 320px;
    width: 440px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 79, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .schmidt-link {
    height: 175px;
    width: 295px;
  }
}

/* line 84, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.shaker-link {
  background: url("../img/shaker.png");
  background-size: cover;
  height: 300px;
  width: 420px;
  background-position: center;
  display: inline-block;
  float: none;
  margin: 1em;
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
}
/* line 14, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.shaker-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  /* line 84, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .shaker-link {
    height: 240px;
    width: 360px;
  }
}
@media only screen and (max-width: 975px) {
  /* line 84, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .shaker-link {
    height: 220px;
    width: 340px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 84, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .shaker-link {
    height: 320px;
    width: 440px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 84, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
  .shaker-link {
    height: 175px;
    width: 295px;
  }
}

/* line 89, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.cmp-details {
  position: relative;
  top: 40%;
  display: block;
}

/* line 93, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.hiram-details {
  position: relative;
  top: 40%;
  display: block;
}

/* line 97, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.schmidt-details {
  position: relative;
  top: 40%;
  display: block;
}

/* line 101, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.shaker-details {
  position: relative;
  top: 40%;
  display: block;
}

/* line 107, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.modal-title {
  font-family: Above;
}

/* line 111, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

/* line 117, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.carousel-indicators li {
  background-color: #b3ffff;
}

/* line 121, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.carousel-indicators .active {
  background-color: #00cccc;
}

/* line 125, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.caption-desc {
  color: #cccccc;
}

/* line 129, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.modal-dialog {
  overflow-y: initial !important;
}

/* line 132, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.modal-body {
  height: 450px;
  overflow-y: auto;
}

/* line 137, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-container {
  overflow: hidden;
  margin: 40px auto 0;
  clear: both;
}

/* line 143, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-desc {
  float: left;
  width: 62%;
}

/* line 148, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-desc-text {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  color: #999;
}

/* line 155, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-details {
  float: right;
  width: 38%;
  padding-left: 60px;
  margin-bottom: 15px;
}

/* line 162, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 166, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-details-list > li {
  font-weight: 400;
  font-size: 12px;
  border-bottom: 1px dotted #DFDFDF;
  padding: inherit;
  color: #666;
}
/* line 172, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-details-list > li strong {
  display: inline-block;
  color: #696969;
  font-weight: 500;
  min-width: 100px;
}

/* line 181, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-link {
  font-weight: 500;
  background-color: #80ffff;
  color: #FFFFFF;
  float: right;
  clear: both;
  text-decoration: none;
  margin-top: 25px;
  padding: 5px 16px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
/* line 192, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.project-link:hover {
  text-decoration: none;
  color: teal;
}

/* line 198, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim-controls {
  text-align: center;
}
/* line 200, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim-controls span {
  padding-right: 2em;
  cursor: pointer;
}
/* line 203, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim-controls span:hover {
  color: teal;
}

/* line 209, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim {
  position: relative;
  width: 260px;
  height: 230px;
  margin: 0 auto 10px;
}
/* line 214, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1.3s ease-in-out;
  -moz-transition: opacity 1.3s ease-in-out;
  -o-transition: opacity 1.3s ease-in-out;
  transition: opacity 1.3s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
/* line 224, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.img-anim img.img-anim-opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* line 232, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.anim-container {
  position: relative;
  margin-top: 1em;
}

/* line 237, C:/ctherrien18.github.io/scss/layouts/_portfolio.scss */
.css-anim-title {
  text-align: center;
}

/* line 1, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.page-header {
  color: white;
  text-align: left;
  margin-top: -1em;
}

/* line 7, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.text-muted {
  color: #b3b3b3;
}

/* line 11, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

/* line 17, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

/* line 28, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

/* line 34, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 39, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li:after {
  clear: both;
}

/* line 44, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 49, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li:after {
  clear: both;
}

/* line 53, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* line 64, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

/* line 76, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

/* line 88, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* line 107, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

/* line 111, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

/* line 118, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* line 126, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-badge i {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}

/* line 133, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-badge.q2-color {
  background-color: #00cc00 !important;
}

/* line 137, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-badge.thunder-color {
  background-color: #FF661B !important;
}

/* line 141, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-badge.westfield-color {
  background-color: #3188c3 !important;
}

/* line 147, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-title {
  margin-top: 0;
  color: white;
}

/* line 153, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  text-align: left;
}

/* line 158, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  /* line 163, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline:before {
    left: 40px;
  }

  /* line 167, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  /* line 173, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  /* line 179, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline > li > .timeline-panel {
    float: right;
  }

  /* line 183, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  /* line 190, C:/ctherrien18.github.io/scss/layouts/_work.scss */
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
/* line 198, C:/ctherrien18.github.io/scss/layouts/_work.scss */
.job-position-desc {
  color: aliceblue;
}
