

.typed-title {
    overflow: hidden;
    border-right: .1em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 2.5s steps(25,end),
      blink-caret .75s step-end infinite;
}  

@keyframes typing {
      from {width: 0}
      to {width: 350px}
}
      
@keyframes blink-caret {
      from, to {border-color: transparent}
      50% {border-color: white;}
}
      
.typewriter {
    color: white;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: monospace;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}
      
.logo {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    left: 2em;
}

