@mixin thumbnail-style {
    background-size: cover;
    height: 300px;
    width: 420px;
    background-position: center;
    display: inline-block;
    float: none;
    margin: 1em;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        
    }
    
    @media only screen and (max-width : 1199px) {
        height: 240px;
        width: 360px;
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 975px) {
        height: 220px;
        width: 340px;
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 800px) {
        height: 320px;
        width: 440px;
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 500px) {
        height: 175px;
        width: 295px;
    }
}

@mixin thumbnail-details {
    position: relative;
    top: 40%;
    display: block;
}

.website-thumb {
    margin-bottom: 2em;
}

.thumb-desc {
    color: white; 
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.cmp-link {
    background: url("../img/palmTrees.jpg"); 
    @include thumbnail-style;
}

.hiram-link {
    background: url("../img/palmTrees.jpg"); 
    @include thumbnail-style;
}

.schmidt-link {
    background: url("../img/palmTrees.jpg"); 
    @include thumbnail-style;
}

.shaker-link {
    background: url("../img/palmTrees.jpg"); 
    @include thumbnail-style;
}

.cmp-details {
    @include thumbnail-details;
}

.hiram-details {
    @include thumbnail-details;
}

.schmidt-details {
    @include thumbnail-details;
}

.shaker-details {
    @include thumbnail-details;
}

