//Setup
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@mixin animation-delay($i, $first-delay, $interval-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $first-delay + $interval-delay * $i;
    }
    $i: $i - 1;
  }
}

body {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}


//Demo
.comp-skills {
  width: 80%;
  max-width: 960px;
  height: 720px;
  margin: auto;
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
  list-style-type: none;
  padding: 0;
  
  .line {
    height: inherit;
    width: 2px;
    
    position: absolute;
    
    background: rgba(220, 255, 255, 0.6);
    
    &.skill-level {
      left: 0;      
    }
    &.basic-level {
      left: 25%;      
    }
    &.average-level {
      left: 50%;      
    }
    &.advanced-level {
      left: 75%;      
    }
    &.expert-level {
      left: calc(100% - 1px);      
    }
    
    .skill-label {
      display: block;
      width: 100px;
      text-align: center;
      
      position: absolute;
      bottom: -20px;
      right: -50px;
      
      &.skills-title {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.graphs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.graph {
  margin: 30px 0 0;
  
  &:first-child {
    margin: 0;
  }
}

.graph-title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  text-align: left;
  opacity: 0; 
  animation: 1s anim-lightspeed-in ease forwards;

  .graph-block & {
  }

  .graph-design & {
    animation-delay: 3s;
  }
}

.graph-x {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.graph-bar {
  $border-rad: 4px;
  height: 30px;
  margin-bottom: 10px;

  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0; 

  animation: 1s anim-lightspeed-in ease forwards;

  .graph-block & {
    @include animation-delay(10, .5s, 0.2s);    
  }

  .graph-design & {
    @include animation-delay(4, 3.5s, 0.2s);
  }

  &[data-skill='35'] {
    width: 35%;
  }
  &[data-skill='40'] {
    width: 40%;
  }
  &[data-skill='45'] {
    width: 45%;
  }
  &[data-skill='50'] {
    width: 50%;
  }
  &[data-skill='55'] {
    width: 55%;
  }
  &[data-skill='60'] {
    width: 60%;
  }
  &[data-skill='65'] {
    width: 65%;
  }
  &[data-skill='70'] {
    width: 70%;
  }
  &[data-skill='75'] {
    width: 75%;
  }
  &[data-skill='80'] {
    width: 80%;
  }
  &[data-skill='85'] {
    width: 85%;
  }
  &[data-skill='90'] {
    width: 90%;
  }
  &[data-skill='95'] {
    width: 95%;
  }
}

.graph-label {
  line-height: 30px;
  color: white;
}


//Keyframes
@keyframes anim-lightspeed-in {
  0%   { 
    transform: translateX(-200%);
    opacity: 1; 
  }
  100% { 
    transform: translateX(0);
    opacity: 1; 
  }
}

@media only screen and (max-width : 430px) {
    .skills-title {
        font-size: 8px;
    }
    .basic-level {
        font-size: 8px;
    }
    .average-level {
        font-size: 8px;
    }
    .advanced-level {
        font-size: 8px;
    }
    .expert-level {
        font-size: 8px;
    }
    .graph-label {
        font-size: 11px;
    }
}